// theme
$theme-green-color: #00730c;
$theme-dark-green-color: #0c4b35;
$theme-clr-black: #0b0b0b;

$white-color: #ffffff;

// typography
$typography-black-color: #212529;
$typography-gray-color: #676767;
